
.button{
        background: #f0c14b !important;
        border-color: #a88734 #9c7e31 #846a29 !important;
        color: #111 !important;
      opacity: 0.9;
}
.button:hover{
    border-color: #a88734 #9c7e31 #846a29 !important;
    opacity: 1;
}